<p id="notice"><%= notice %></p>

<h1>Api Workspaces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creator</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workspaces.each do |workspace| %>
      <tr>
        <td><%= workspace.name %></td>
        <td><%= workspace.creator %></td>
        <td><%= workspace.description %></td>
        <td><%= link_to "Show", workspace %></td>
        <td><%= link_to "Edit", edit_workspace_path(workspace) %></td>
        <td><%= link_to "Destroy", workspace, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Api Workspace", new_workspace_path %>
