<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workspace.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @workspace.creator %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workspace.description %>
</p>

<%= link_to "Edit", edit_workspace_path(@workspace) %> |
<%= link_to "Back", workspaces_path %>
